<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Contact Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="bootstrap/css/style.css" rel="stylesheet">
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="../assets/js/html5shiv.js"></script>
          <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="../assets/ico/favicon.png">
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <div class="logo"><img alt="" src="./images/logo.png"> </div>
                <h3 class="muted"></h3>
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="download.html">Download</a></li>
                                <li><a href="about.html">Donate</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.navbar -->
            </div>

            <!-- Example row of columns -->
            <div class="row-fluid">
                <div class="span12 subnav">
                    <div class="span4 menu"><h2>News</h2></div>                             
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span8">
                            <h3><strong><a href="#">Title of the post</a></strong></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            <a href="#" class="thumbnail">
                                <img src="holder.js/260x180" alt="">
                            </a>
                        </div>
                        <div class="span8">
                            <p>
                                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                            </p>
                            <p><a class="btn btn-mini btn-inverse" href="#">Read more</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span8">
                            <p></p>
                            <p>
                                <i class="icon-user"></i> by <a href="#">John</a>
                                | <i class="icon-calendar"></i> Sept 16th, 2012
                                | <i class="icon-comment"></i> <a href="#">3 Comments</a>
                                | <i class="icon-share"></i> <a href="#">39 Shares</a>
                                | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
                                <a href="#"><span class="label label-info">Bootstrap</span></a>
                                <a href="#"><span class="label label-info">UI</span></a>
                                <a href="#"><span class="label label-info">growth</span></a>
                            </p>
                        </div>
                    </div>
                </div> <!--span12-->                
            </div> <!--row--> 
            <hr>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span8">
                            <h3><strong><a href="#">Title of the post</a></strong></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            <a href="#" class="thumbnail">
                                <img src="holder.js/260x180" alt="">
                            </a>
                        </div>
                        <div class="span8">
                            <p>
                                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                            </p>
                            <p><a class="btn btn-mini btn-inverse" href="#">Read more</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span8">
                            <p></p>
                            <p>
                                <i class="icon-user"></i> by <a href="#">John</a>
                                | <i class="icon-calendar"></i> Sept 16th, 2012
                                | <i class="icon-comment"></i> <a href="#">3 Comments</a>
                                | <i class="icon-share"></i> <a href="#">39 Shares</a>
                                | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
                                <a href="#"><span class="label label-info">Bootstrap</span></a>
                                <a href="#"><span class="label label-info">UI</span></a>
                                <a href="#"><span class="label label-info">growth</span></a>
                            </p>
                        </div>
                    </div>
                </div> <!--span12-->                
            </div>
            <hr>
            <div class="pagination pagination-small pagination-centered">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
            <div class="footer">
                <p>&copy; K-Link Care Foundation 2013 - 2013</p>
                <p>K-Link Tower 11th Floor, Jl Gatot Subroto Kav 59A, Jakarta Selatan 12910</p>
            </div>

        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="bootstrap/js/jquery-1.10.2.min.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="bootstrap/js/holder.js"></script>
        <script> Holder.add_theme("bright", {background: "white", foreground: "gray", size: 12})</script>
        <script src="bootstrap/js/jquery.backstretch.min.js"></script>
        <script type="text/javascript">
            $.backstretch("http://localhost/klinkcare/images/bg.jpg");
        </script>
    </body>
</html>